html, body {
  height: 100%;
  margin: 0;
}

body {
  background-image: url("Ouroboros.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

#container {
  background: black;
}

canvas {
  border: 1px solid white;
}
